# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*.swo
*~

# Sphinx docs:
build
_build

# SQLite3 database files:
*.db

# Logs:
*.log
.ropeproject
celerybeat-schedule
.coverage
*,cover
coverage.xml
