[Unit]
Description=netcelery %I
BindsTo=node.service

[Service]
User=cloud
Group=cloud

KillSignal=SIGTERM
TimeoutStopSec=600
Restart=always

WorkingDirectory=/home/cloud/vmdriver

ExecStart=/bin/bash -c "source /etc/profile; workon vmdriver; exec celery -A netcelery worker --loglevel=info -n $(/bin/hostname -s).%I"
