[Unit]
Description=privcelery %I
BindsTo=node.service

[Service]
User=root
Group=root

KillSignal=SIGTERM
TimeoutStopSec=600
Restart=always

WorkingDirectory=/home/cloud/vmdriver

ExecStart=/bin/bash -c "source /etc/profile; source /home/cloud/.virtualenvs/vmdriver/bin/activate; source /home/cloud/.virtualenvs/vmdriver/bin/postactivate; export C_FORCE_ROOT=\"true\"; exec celery -A privcelery worker --loglevel=info -n $(/bin/hostname -s).%I"
